/*.App {*/
  /*text-align: center;*/
/*}*/

/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 80px;*/
/*}*/

/*.App-header {*/
  /*background-color: #222;*/
  /*height: 150px;*/
  /*padding: 20px;*/
  /*color: white;*/
/*}*/

/*.App-title {*/
  /*font-size: 1.5em;*/
/*}*/

/*.App-intro {*/
  /*font-size: large;*/
/*}*/

/*@keyframes App-logo-spin {*/
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
/*}*/

.bg-img {
  background: url('images/bg2.jpg') no-repeat center;
  background-size: 100% auto;
}

.bicycle-thumb {
  height: 200px;
  overflow: hidden
}

a:hover {
  cursor:pointer;
}

.empty-list {
  text-align: center;
  padding: 10%;
  color: darkgray;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  opacity: 0;
  transition: opacity 0.3s;
}

html {
  overflow-y: scroll;
}

.modal-img {
     height: auto;
     width: 100%
}