
.bg-img {
  background: url('images/bg2.jpg') no-repeat center;
  background-size: 100% auto;
}

.bicycle-thumb {
  height: 200px;
  overflow: hidden
}

a:hover {
  cursor:pointer;
}

.empty-list {
  text-align: center;
  padding: 10%;
  color: darkgray;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  opacity: 0;
  transition: opacity 0.3s;
}

html {
  overflow-y: scroll;
}

.modal-img {
     height: auto;
     width: 100%
}